<html></html>
  <head>
    <link rel="stylesheet" href="./styleForms.css">
  </head>
  <body>
    <div class="content">
      
        <form method="POST" action="/new">
          <h1>Leave Your Message Below</h1>
          <div>
            <label for="sent">Author:</label>
            <input required name="messageAuthor"type="text" maxlength="30">
          </div>
          <div>
            <label  for="">Message:</label>
            <textarea name="messageText" required maxlength="500"></textarea>
          </div>
            <button type="submit">Submit</button>
         </form>
         <button onclick="location.href='/'">Back</button>
    </div>

    </div>
  </body>
</html>