@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
body{
    background-color: #fdf8e9
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 55px 0px;
    width: 30%;
    height: 50%;
    background-color: #f9eecc;
    border-radius: 25px;
    border: 2px solid #e28f1e;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #401908;
    min-width: 700px;
    
}
form div{
    font-size: 35px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
div input{
    width: 100%;
    font-size: 24px;
    padding: 20px 15px;
    border-radius: 25px;
    border: 1px solid #e28f1e;
    height: 35px;
    outline: none;
}
div textarea{
    width: 100%;
    font-size: 24px;
    padding: 20px 15px;
    border-radius: 25px;
    border: 1px solid #e28f1e;
    field-sizing: content;
    resize: none;
    outline: none;
}
div textarea:focus, div input:focus{
    border: 2.5px solid #a64e17;
}
button{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #401908;
    border: 2px solid #a64e17;
    background-color: #e28f1e;
    color: #fdf8e9;
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 45px;
    transition: transform 0.3s ease-in-out;
}
button:hover{
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.13);
}